:root {
  --ui-colorA: #666666;
  --ui-colorB: #382EFF;
  --info-color: #333333;

  --thumb-size: 18px;
  --thumb-radius: 5px;

  --f-size: 15px;
  --label-pad: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #999999;
  display: flex;
  justify-content: center;
  /* padding: 24px; */
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

#sketch-wrapper {
  display: block;
  z-index: 1;
  padding: 0;
}

.ui {
  display: block;
  align-items: center;
  position: fixed;
  width: 300px;
  bottom: 16vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

#saveButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  background-color: var(--ui-colorB);
  border: 0;
  border-radius: 100px;
  padding: 0;
  margin: 0;

  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: #000000;

  position: fixed;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);

  width: 300px;
  height: 50px;

  z-index: 9999;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;

  /* display: block; */
  background-color: var(--ui-colorA);
  border: 0;
  border-radius: none;
  color: #000000;
  width: 300px;
  height: 4px;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: none;
  background: var(--ui-colorB);
  border: none;
}

/* --- THUMB (Chrome/Safari) --- */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5vw;
  height: 1.4vh;
  border: none;
  border-radius: 10px;
  background: var(--ui-colorB);
  margin-top: -0.55vh;
  z-index: 9999;
}

.inputLabel {
  display: block;
  position: relative;
  bottom: var(--label-pad);

  font-size: var(--f-size);
  color: var(--ui-colorB);

  z-index: 9999;
}

.outputLabel {
  display: block;
  position: relative;
  bottom: 45px;

  font-size: var(--f-size);
  text-align: right;
  color: var(--ui-colorB);

  z-index: 9999;
}

.sliders {
  margin-bottom: 1vh;
}